<footer class="container">
   <hr>
   <p>&copy; Ziwei Gu {{ site.time | date: "%Y" }}</p>
   <a href="https://www.facebook.com/ziwei.gu.7/" target="_blank">
   <img src="/assets/images/facebook.png" alt="Facebook Icon" width = "50" height = "50">
   </a>
   <a href="https://www.linkedin.com/in/ziwei-gu-5232a8153/" target="_blank">
   <img src="/assets/images/linkedin.png" alt ="LinkedIn Icon" width = "50" height = "50">
   </a>
   <a href="mailto:zg48@cornell.edu/">
   <img src="/assets/images/gmail.jpg" alt ="Gmail Icon" width = "50" height = "50">
   </a>
</footer>
